.idea
.vscode/launch.json
**.pyc
**__pycache__
gt_data/*
!gt_data/Readme.md
tracker_output/*
!tracker_output/Readme.md
output/*
data
!goutput/Readme.md
**/__pycache__
.idea
error_log.txt

# Lab additions
.venv/
data_lab/
data_lab.zip
__MACOSX/
*.pt
*.mp4
runs/thu_nhanh/
*.egg-info/

